 <!-- Footer -->
<div style="background:#fff;">
	<div class="row" style="background:#fff;">
		<div class="large-12 columns" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">
			<div class="large-6 columns" >
				<h3 id="contact">Questions? <a href="{{site.baseurl}}/contact">Contact Us</a></h3>
				<p><a href="{{site.baseurl}}/contact">Get in touch</a> — Metro Dublin welcomes all suggestions which could help develop a better integrated transportation network for Dublin</p>
			</div>
			<div class="large-5 columns" >
				<h3>How does Metro Dublin Compare?</a></h3>
				<ul>
					<li><a href="http://www.metrodublin.ie/index_files/MetroDublinGovernmentPolicyandObjectives.htm">Government Policy and Objectives</a></li>
					<li><a href="http://www.metrodublin.ie/index_files/MetroDublincomparedwiththeshelvedplansforMetroNorthDARTUnderground.htm">Metro Dublin compared with the plans for Metro North and DART Underground</a></li>
					<li><a href="http://www.metrodublin.ie/index_files/MetroDublinStStephensGreenStation.htm">Example of Innovative technology - lower cost and faster construction</a></li>
				</ul>
			</div>
		</div>


	</div>
</div>

<footer>

<div class="row">
	<div class="large-12 columns">
		<div class="large-3 columns">
			<h1><a href="{{site.baseurl}}">	<img class="logo" src="{{site.baseurl}}/img/MetroDublin.png" style="max-height:40px;"/></a></h1>
		</div>
		<div class="large-6 columns">
			<nav style="padding-top:35px;padding-bottom:2em;">
			<ul class="inline-list">
			  <li><a href="#">About</a></li>
			  <li><a href="#">Design</a></li>
			  <li><a href="#">Construction</a></li>
			  <li><a href="#">Population</a></li>
			  <li><a href="#">Contact</a></li>
			</ul>
			</nav>
		</div>
		<div class="large-3 columns">
			<nav style="padding-top:35px;padding-bottom:2em;">
			<ul class="inline-list">
			  <li><a href="#">Twitter</a></li>
			  <li><a href="#">Facebook</a></li>
			</ul>
			</nav>
		</div>
	</div>
</div>
</footer>