{% include html_head.html %}


<!-- Main Content Section -->
<header style="overflow:hidden; background:#fff;margin-bottom:1em;">
	<div class="photo" style="float:left; width:60%; background: url(http://www.metrodublin.ie/index_files/image481.png) no-repeat;min-height:726px; ">
		<div class="large-6 columns" style="padding-left:10em;">
			<h1><a href="{{site.baseurl}}">	<img class="logo" src="{{site.baseurl}}/img/MetroDublin.png" style="max-height:40px;"/></a></h1>			
		</div>
	</div>
	<div class="text" style="width:40%; float:right;">
		<div class="b" style="padding-top:75px; margin-left:2em;padding-right:3em;">
			<h1 class="case" style="font-size: 12px;text-transform: uppercase;">Metro Dublin</h1>
			<h1 class="sub" style="font-size: 28px;letter-spacing: -2px;">Plan to build a new metro that includes & extends both Metro North & DART Underground</h1>
			<h2 class="sub" style="font-size: 22px;letter-spacing: -1px;font-weight:normal;">Is a new public mass rapid transit system to serve the capital &amp; the country. Efficiently joins up the city & national railways to integrate the existing public transport services.</h2>
			<hr style="border-top:5px solid #f5ebe6;margin-top:3em;" />
			<ul class="side-nav">
				  <li><a href="#about">About the Metro Dublin project &rarr;</a></li>
				  <li><a href="#design">Design - Find out more about the innovative design &rarr;</a></li>
				  <li><a href="#cons">Construction - Find out more about the constructive methods &rarr;</a></li>
				  <li><a href="#pop">Population - Where is the catchment &rarr;</a></li>
				  <li><a href="#contact">Contact - Get in touch &rarr;</a></li>
			</ul>
		</div>
	</div>
	
</header>
<div class="row" >
    <div class="large-9 columns">
      	<div id='map'></div>
		<p>&nbsp;</p>
    </div>
        <div class="large-3 columns">
			<div id="legend">
				<div class='my-legend'>
				<h4>Dublin Rail Services</h4>
				<div class='legend-scale'>
				  <ul class='legend-labels'>
				    <li><span style='border-color:#FF00FF;'></span><strong>M1</strong> - Blanchardstown - Docklands - St. Stephen's Green</li>
				    <li><span style='border-color:#0000FF;'></span><strong>M2</strong> - Malahide - Swords - Airport - Ballymun - Heuston - St. Stephen's Green</li>
				    <li><span style='border-color:#FF0000;'></span><strong>M3</strong> - Adamstown -Heuston - St. Stephen's Green - Docklands</li>
				    <li><span style='border-color:#EB9535;'></span><strong>D1</strong> - Malahide/Howth - Connolly - Pearse - Greystones</li>
				    <li><span style='border-color:#DE1122;'></span><strong>Red Luas</strong> - Sagart/Tallaght - Heuston - Connolly/The Point</li>
				    <li><span style='border-color:#019431;'></span><strong>Green Luas</strong> - Brides Glen - St Stephens Green - O'Connell/Marlborough - Broombridge</li>
				  </ul>
				</div>
				</div>

				<style type='text/css'>
				  .my-legend .legend-title {
				    text-align: left;
				    margin-bottom: 5px;
				    font-weight: bold;
				    font-size: 90%;
				    }
				  .my-legend .legend-scale ul {
				    margin: 0;
				    margin-bottom: 5px;
				    padding: 0;
				    float: left;
				    list-style: none;
				    }
				  .my-legend .legend-scale ul li {
				    font-size: 80%;
				    list-style: none;
				    margin-left: 0;
				    line-height: 18px;
				    margin-bottom: 2px;
					border-bottom:1px solid #ccc;
					padding:5px 0;
				    }
				  .my-legend ul.legend-labels li span {
				    display: block;
				    float: left;
				    height: 2px;
				    margin-top:7px;
				    margin-bottom:2px;
				    width: 30px;
				    margin-right: 5px;
				    margin-left: 0;
				    border-left: 0px solid #999;
				    border-right: 0px solid #999;
				    border-top: 3px solid #999;
				    border-bottom: 3px solid #999;
				    background:#FFF;
				    }
				  .my-legend .legend-source {
				    font-size: 70%;
				    color: #999;
				    clear: both;
				    }
				  .my-legend a {
				    color: #777;
				    }
				</style>
			</div>
	    </div>
  </div>
  <div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">
    <div class="large-5 columns">
      <h4 id="about">Metro Dublin</h4>
      <p>Is the plan to build a new metro that includes &amp; extends both Metro North &amp; DART Underground.</p>
      <p>Is a new public mass rapid transit system to serve the capital &amp; the country.</p>
	  <p>Efficiently joins up the city & national railways to integrate the existing public transport services</p>
      <p><a href="#design" class="secondary small button">Design &rarr;</a></p>
    </div>
    
    <div class="large-7 columns">
	
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      <a href="http://www.metrodublin.ie/index_files/image481.png"><img src="http://www.metrodublin.ie/index_files/image481.png"></a>

    </div>
        
  </div>

<div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">

    <div class="large-7 columns">
    <h4 id="design">Design</h4>
	<p>Metro Dublin lines form a new 53 km rapid transit system with 33 stations, 22 of them in new locations. It links up the urban rail network, makes the maximum use of 29 km of existing railway alignments, and adds 6 km of surface and 18 km of tunnel, see map of railway works and map of railway services. The design includes the grade separation of all road and rail line crossings.</p>
	<p>Service quality and efficiency is assured by all services running on totally separate tracks from Irish Rail services and by unimpeded through train services which avoid train turn-back in the city centre. The extended network serves the most densely populated areas and the busiest commercial districts and facilities in Ireland, such as St. James’s/New Children's Hospital, and links Dublin City Centre with six major Dublin suburbs: Blanchardstown, Adamstown/Clondalkin, Phibsboro, Ballymun, Swords, and Malahide.</p>
	<p>The greatly increased number of stations, integration, and high frequency of services will together create the ‘critical mass’ making rail a viable alternative for both commuting and discretionary travel for the majority of Dubliners. Based on the patterns of rail use in other cities, Metro Dublin services on lines M-1, M-2 & M-3 alone will attract 130 million patrons per year.</p>
     <p><a href="#tech" class="secondary small button">Technology &rarr;</a></p>
    </div>

    <div class="large-4 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
	  <h4>See Also</h4>
      <ul>
        <li><a href="http://www.metrodublin.ie/index_files/MetroDublinExtentofRailwayWorks.htm">Map of Railway Works</a></li>
        <li><a href="Map of Railway Services">Map of Railway Services</a></li>
        <li><a href="Metro Dublin compared with the plans for Metro North and DART Underground">Metro Dublin compared with the plans for Metro North and DART Underground</a></li>
        <li><a href="Example of; Innovative technology - lower cost and faster construction">Example of Innovative technology - lower cost and faster construction</a></li>
      </ul>
    </div>

  </div>

<div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">

    <div class="large-7 columns">
	<h4 id="tech">Innovative use of new technology</h4>
	<p>Advances in tunnel machine technology make it safer, faster and cheaper to both build and operate a metro with a single large tunnel, 12-metre diameter (the same size as the Dublin Port Tunnel), hosting all the lines, platforms and walkways within it, in a stacked configuration (see Photos). This is an alternative to the traditional method as proposed by the shelved plans for Metro North & DART Underground, i.e. twin tunnels built by boring machine, 6.7 metres in diameter, and in addition by slow drill-and-blast techniques large station chambers and cross-passages.</p>
	<p>The new technology facilitates the use of ‘drum’ structures for city stations. This, for example, compared to the shelved plans, reduces the build site area at St. Stephen’s Green/Grafton Street by 80 percent, significantly reduces disruption to local streets and avoids interference to the Fusiliers’ Arch.</p>
	<p>This large tunnel advanced construction technology is now tested and in operation. The first section of the Metro Line 9 project in Barcelona, opened in 2009, has pioneered this new method. A similar tunnel will be able to accommodate Irish rolling stock.</p>
      <p><a href="#cons" class="secondary small button">Construction &rarr;</a></p>
    </div>

    <div class="large-4 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
		<img src="{{site.baseurl}}/img/tunnel.png" />
      
    </div>

  </div>

<div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">

    <div class="large-7 columns small-centered large-centered">
	<h4 id="cons">Lower cost faster construction</h4> 
	<p>Metro Dublin can be opened within 42 months of a decision to go ahead (due process 14 and build time 28 months). Compared with the shelved plans its costs are less because it uses less materials, can be built in half the time and its tunnels are shorter - to the Airport is 2.6 km less, and from Inchicore to Docklands is 2.4 km less.</p>
    <p><a href="#pop" class="secondary small button">Population&rarr;</a></p>
    </div>

    

  </div>
<div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">
	<div class="large-6 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

      <img src="http://www.metrodublin.ie/index_files/image546.png" />
    </div>
    <div class="large-5 columns">
		<h4 id="pop">Population served</h4>
		<p>Metro Dublin extends the Dublin population residing within one kilometre of a new high frequency rail service by 50% to 768,000.</p>

		<p>Serves the most densely populated areas & the busiest commercial districts & facilities in Ireland. In particular it serves Irelands’ busiest hospital St. James’s /new Children’s Hospital & links together Dublin city centre with six of its major suburbs:</p>
		      <ol>
				<li>Adamstown/Clondalkin</li>
				<li>Blanchardstown,</li>
				<li>Phibsboro</li>
				<li>Ballymun</li>
				<li>Swords</li>
				<li>Malahide</li>
			</ol>
      <p><a href="#about1" class="secondary small button">About &rarr;</a></p>
    </div>

    

  </div>
  <div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">

    <div class="large-8 columns">
	<h4 id="about1">About</h4> 
	<p>Metro Dublin includes and extends Metro North and DART Underground and can provide all their services, and it is in accordance with Government Policy and Objectives.</p>
	<p>Metro Dublin is a new Mass Rapid Transit system, 53 kilometers in length with 33 stations and costs €2bn. The highest quality of transit services are ensured by its innovative design; the use of separate tracks from those of Irish Rail and the bridging of all crossing tracks and roads, the avoidance of train turn-back in the city centre and the use of new technology.</p>
	<p>Metro Dublin capital will be provided by consortium members. Importantly, at all times of its development and operation the Exchequer and the Local Authorities will accrue net income - it is affordable. Details will be provided to appropriate bodies</p>
		<p><a href="#contact" class="secondary small button">Contact &rarr;</a></p>
    </div>

    <div class="large-4 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

      <ul>
        <li><a href="http://www.metrodublin.ie/index_files/MetroDublinExtentofRailwayWorks.htm">Map of Railway Works</a></li>
        <li><a href="Map of Railway Services">Map of Railway Services</a></li>
        <li><a href="Metro Dublin compared with the plans for Metro North and DART Underground">Metro Dublin compared with the plans for Metro North and DART Underground</a></li>
        <li><a href="Example of; Innovative technology - lower cost and faster construction">Example of Innovative technology - lower cost and faster construction</a></li>
      </ul>
    </div>

  </div>
<div class="row" style="border-top:5px solid #f5ebe6;padding-top:3em;margin-top:3em;">

    <div class="large-8 columns">
	<h4 id="about1">About</h4> 
	{{content}}
    </div>

    <div class="large-4 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

      <ul>
        <li><a href="http://www.metrodublin.ie/index_files/MetroDublinExtentofRailwayWorks.htm">Map of Railway Works</a></li>
        <li><a href="Map of Railway Services">Map of Railway Services</a></li>
        <li><a href="Metro Dublin compared with the plans for Metro North and DART Underground">Metro Dublin compared with the plans for Metro North and DART Underground</a></li>
        <li><a href="Example of; Innovative technology - lower cost and faster construction">Example of Innovative technology - lower cost and faster construction</a></li>
      </ul>
    </div>

  </div>
  
  <!-- Call to Action Panel -->
<script>
  var map = L.mapbox.map('map', 'ebow.map-hsqi45u0,rusty.gep9034e',{legendControl: false,shareControl:true})
    .setView([53.3476,-6.2533], 14);
	map.legendControl.removeLegend()
	L.control.attribution().addAttribution('Information Copyright <a href="http://www.dublinmetro.ie">Dublin Metro</a>').addTo(map);
	
    map.addControl(L.mapbox.geocoderControl('rusty.gep9034e'))
	
</script>
{% include footer.html %}
{% include html_end.html %}

